<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Infopack Registry</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
    </head>
    <body>
        <div class="hero">
            <a href="/">
                <img class="logo-img" src="/assets/logo.svg" alt="infopack logo"/>
            </a>
        </div>
        {{{body}}}
    </body>
    <footer>
        <a href="http://www.infopack.io">infopack.io</a> | 
        <a href="/collection">PDF creator</a> | 
        <a href="http://docs.infopack.io" target="location">API dokumentation</a>
        <p>v{{siteVersion}}</p>
    </footer>
</html>