<style>
    .collection-area {
        margin-bottom: 20px;
        width: 100%;
    }

    #sendButton {
        margin-bottom: 10px;
    }

    textarea {
        width: 100%;
    }
</style>
<div class="hero">
    <h1>PDF Creator</h1>
    <p><strong>Experminental!</strong> App might change without prior notice!</p>
    <p>Write or paste you infopack collection definition here.</p>
    <div class="collection-area">
        <textarea id="inputText" rows="10" cols="50" placeholder="Enter your text here..."></textarea>
        <br>
        <button id="sendButton">Send</button>
        <div id="alert-messages"></div>
    </div>
    <script>
        const btnEl = document.getElementById('sendButton');
        const inputEl = document.getElementById('inputText');
        const errorEl = document.getElementById('alert-messages');

        async function getResponse(response) {
                const blob = await response.blob();

                const contentDisposition = response.headers.get('Content-Disposition');
                const filename = contentDisposition ? contentDisposition.split('filename=')[1].replace(/"/g, '') : 'nedladdning.pdf';
                
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement("a");
                a.style.display = "none";
                a.href = url;
                a.download = filename;
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
        }

        btnEl.onclick = async () => {
            const userInput = inputEl.value.trim(); // Få användarens text
            if (userInput) {
                await fetchPdf(userInput);
            } else {
                alert("Please enter some text before sending.");
            }
        };

        const fetchPdf = async (userText) => {

            try {
                errorEl.innerHTML = `Fetching... Hold on...`
                const response = await fetch("https://pdf-creator-app.infopack.io/collection", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "Accept": "application/pdf"
                    },
                    body: userText
                });

                if (response.ok) {
                    await getResponse(response)
                    errorEl.innerHTML = ''
                } else {
                    if(response.status == 422) {
                        let json = await response.json()
                        console.log(json)
                        errorEl.innerHTML = `<pre>${JSON.stringify(json, null, 2)}</pre>`
                    } else {
                        console.log('Something went wrong')
                        errorEl.innerHTML = `Something went wrong...`
                    }
                    
                }

            } catch (error) {
                console.error("Failed to fetch PDF:", error);
            }
        };
    </script>
</div>