<div class="hero">
    <h1>Jämför filer (BETA)</h1>
    <form onsubmit="onSubmit(event)">
        <input id="source" type="text" placeholder="Källa" value="{{ query.source }}"/><br>
        <input id="target" type="text" placeholder="Mål" value="{{ query.target }}"/><br>
        <button type="submit">Jämför</button>
    </form>
    <div id="result-box"></div>
    <script>
        function onSubmit(e) {
            e.preventDefault();
            fetch('/api/diff', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    source: document.getElementById('source').value,
                    target: document.getElementById('target').value
                })
            })
                .then(response => response.text())
                .then(diffString => document.getElementById('result-box').innerHTML = diffString)
                // handle img alt texts
                .then(() => {
                    var images = document.querySelectorAll('#result-box * img')
                    images.forEach(img => {
                        let newElement = document.createElement('span');
                        newElement.innerHTML = 'Alternativ bildtext (img.alt): ' + img.alt;
                        img.parentElement.appendChild(newElement);
                        img.alt = '';
                        // console.log(window.location.host)
                        //let imgSrc = img.src.replace(window.location.protocol + '//' + window.location.host, '')
                        //img.src = 'http://storage.infopack.io/' +  document.getElementById('package').value + "/" +  document.getElementById('newVersion').value + imgSrc
                        //console.log(imgSrc)
                    })
                })
        }
    </script>
</div>
