<div class="hero">
    <h1>Registry</h1>
    <p class="tagline">Package, Publish, Consume: Streamlining the flow of information Between producers and consumers.</p>
    <ul>
        {{#packages}}
        <li><a href="/package/{{namespace}}/{{slug}}" title="{{slug}}">{{name}} {{#deprecated}}<span class="archived-label">Arkiverad</span>{{/deprecated}}</a></li>
        {{/packages}}

        {{^packages}}
        <li><i>No infopacks for search term {{name}}...</i></li>
        {{/packages}}
    </ul>
</div>
