<div class="hero">
    <h1>{{ package.name }}</h1>
    <h4>{{ package.version }}</h4>
    {{#if package.description }}
    <p>{{ package.description }}</p>
    {{/if}}
    <ul>
        <li><a href="./"><strong>Tillbaka</strong></a></li>
        {{#files}}
        <li>
            <span style="color:grey;">{{dirname}}</span><br>{{title}}<br>
            {{#files}}
            <span><a href="/package/raw/{{../../namespace}}/{{../../slug}}/{{../../package.version}}/{{path}}">{{extname}}</a></span>
            {{/files}}
        </li>
        {{/files}}
    </ul>
    {{#if package.manifestVersion}}
    <p>Manifest ver: {{ package.manifestVersion }}</p>
    {{/if}}
</div>
<script>
    function copyToClipboard(id) {
        var copyText = document.getElementById(id);

        // Select the text field
        copyText.select();
        copyText.setSelectionRange(0, 99999); // For mobile devices

        // Copy the text inside the text field
        navigator.clipboard.writeText(copyText.value);
    }
</script>
