<style>
    #textToCopy {
        display: block;
        width: 100%;
        margin-bottom: 10px
    }

    .infopack-collection {
        margin-bottom: 20px;
    }
</style>
<div class="hero">
    <h1>{{ package.name }}</h1>
    <h4>{{ package.version }}</h4>
    {{#if package.description }}
    <p>{{ package.description }}</p>
    {{/if}}
    <ul>
        <li><a href="./"><strong>Tillbaka</strong></a></li>
        {{#files}}
        <li>
            <span style="color:grey;">{{dirname}}</span><br>{{title}}<br>
            {{#files}}
            <span><a href="/package/{{../../namespace}}/{{../../slug}}/{{../../package.version}}/{{path}}">{{extname}}</a></span>
            {{/files}}
        </li>
        {{/files}}
    </ul>
    {{#if package.manifestVersion}}
    <p>Manifest ver: {{ package.manifestVersion }}</p>
    {{/if}}
    <div class="infopack-collection">
        <h3>Infopack collection</h3>
        <textarea rows="8" id="textToCopy">{
    "name": "{{slug}}",
    "version": "{{package.version}}",
    "content": [{
        "contentType": "package",
        "irn": "{{namespace}}:{{slug}}:{{package.version}}"
    }]
}</textarea>
        <button id="copyButton">Kopiera</button>
    </div>
</div>
<script>
    document.getElementById('copyButton').addEventListener('click', function() {
        const textToCopy = document.getElementById('textToCopy').value;

        console.log(textToCopy)
        navigator.clipboard.writeText(textToCopy).catch(err => {
            console.error('Misslyckades att kopiera text:', err);
        });
    });
</script>
