<div class="hero">
    <h1>{{ package.name }}</h1>
    <ul>
        <li><a href="/"><strong>Tillbaka</strong></a></li>
        {{#package.versions}}
        <li><a href="/package/{{../package.namespace}}/{{../package.slug}}/{{version}}">{{version}}</a></li>
        {{/package.versions}}
    </ul>
</div>
