<div class="hero">
    <h1>{{ package.name }}</h1>
    <h4>{{ package.version }}</h4>
    <p>{{ package.description }}</p>
    <p><strong>{{ file.title }}</strong> - {{ file.description }}</p>

    <input style="display:none;" id="input-{{basename}}" type="text" value="{{namespace}}:{{slug}}:{{package.version}}:{{file.path}}" />
    <button onclick="copyToClipboard('input-{{basename}}')" title="IRN är en resurslänk som kan användas bl.a. vid jämförelse mellan filer">Kopiera IRN</button>

    <ul>
        <li><a href="./"><strong>Tillbaka</strong></a></li>
    </ul>

    {{#if file.labels}}
    <ul>
        {{#each file.labels}}
        <li><strong>{{@key}}</strong> - {{this}}</li>
        {{/each}}
    </ul>
    {{/if}}

    {{#_isDiffable}}
    <a href="{{_diffUrl}}">Jämför fil</a>
    {{/_isDiffable}}

    <a href="https://storage.googleapis.com/storage.infopack.io/{{namespace}}/{{slug}}/{{package.version}}/{{file.path}}" target="_location">Öppna i webbläsare</a>

    <a href="https://storage.googleapis.com/storage.infopack.io/{{namespace}}/{{slug}}/{{package.version}}/{{file.path}}" download>Ladda ner</a>

    <a href="https://storage.googleapis.com/storage.infopack.io/{{namespace}}/{{slug}}/{{package.version}}/{{file.path}}.meta.json">Se meta fil</a>

    {{#_isHtml}}
    <a href="https://pdf-creator-app.infopack.io/single?irn={{namespace}}:{{slug}}:{{package.version}}:{{file.path}}">Ladda ner PDF</a>
    {{/_isHtml}}

    {{#_isImg}}
    <img src="https://storage.googleapis.com/storage.infopack.io/{{namespace}}/{{slug}}/{{package.version}}/{{file.path}}" />
    {{/_isImg}}
    
    {{#_isHtml}}
    <div class="content-preview">
        {{{fileContent}}}
    </div>
    {{/_isHtml}}
    
    {{#_isMd}}
    <div class="content-preview-md">
        {{{fileContent}}}
    </div>
    {{/_isMd}}
    
    {{#_isPdf}}
        <iframe src="https://storage.googleapis.com/storage.infopack.io/{{namespace}}/{{slug}}/{{package.version}}/{{file.path}}"></iframe>
    {{/_isPdf}}

</div>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
    function copyToClipboard(id) {
        var copyText = document.getElementById(id);

        // Select the text field
        copyText.select();
        copyText.setSelectionRange(0, 99999); // For mobile devices

        // Copy the text inside the text field
        navigator.clipboard.writeText(copyText.value);
    }
    var md = document.getElementsByClassName('content-preview-md');
    if(md.item(0)) {
        md.item(0).innerHTML = marked.parse(md.item(0).innerHTML.trim())
    }
</script>
