

h1, h2, h3, h4, h5, h6, p, span, a, ul, li {
    font-family: 'Roboto';
    color: #333
}

.tagline {
    font-style: italic;
}

.hero {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
}

.hero > a {
    display: flex;
}

.logo-img {
    display: inline-block;
    max-width: 300px;
    margin: auto;
}

footer {
    max-width: 600px;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 22px;
    }
  }

.hero > img, h1, .tagline {
    text-align: center;
}

.content-preview img {
    max-width: 100%;
}

.content-preview-md img {
    max-width: 100%;
}

ul {
    padding: 0px;
    border: 1px solid #999;
    border-radius: 10px;
}

ul > li {
    list-style-type: none;
    padding: 12px;
    border-bottom: 1px solid #999;
}

a {
    text-decoration: none;
}

ul > li:last-child {
    border-bottom: none;
}

.archived-label {
    float: right;
    background-color: #009EC6;
    color: white;
    padding: 3px;
    border-radius: 5px;
}

iframe {
    min-height: 600px;
}

input {
    margin-bottom: 10px;
    width: 100%;
    max-width: 600px;
}